{% load staticfiles %}
{% include 'head_css.html' %}
<style>
.addDriver{
	position: fixed;
	right: 5%;
	bottom: 10%;
	z-index: 2;
}
.addDriver_label{
	display: none;
}
.addDriver_label:hover{
	display: block;
	background-color: #3BAEFF;
	width: 100%;
	height: 20px;
}
</style>
<!-- dashboard -->
<div class="dash-board" ng-app="driver-app" ng-controller="driverCtrl">
	<div class="row">
		<div class="col s2 dash-board-3">
			<ul class="side-nav fixed">
				<li class="brand-logo" style="padding: 15px">
					<div style="width: 200px;height: 200px;border-radius: 100px;background-color: #8197C2;">
						<img src={% static 'img/logo.png' %} style="margin-top: 50px;margin-left:10px;width: 180px">
						<h5 class="white-text" style="margin-left: 60px">Arbuda</h5>
					</div>
				</li>

			      	{% if request.user.is_authenticated %}
			      		<li><a href="{% url 'home' %}">Home</a></li>
			      		<!-- <li class="active"><a href="{% url 'dashboard' %}">Dashboard</a></li> -->
		              <li><a href="{% url 'auth_logout' %}">Logout</a></li>
		              {% else  %}
		              <li><a href="{% url 'auth_login' %}">Login</a></li>
		            {% endif %}
		            <hr>
				<li class="orders"><a href="{% url 'orders' %}" class=class="waves-effect waves-teal btn-flat">Orders</a></li>
				<li class="trips"><a href="{% url 'triplist' %}" class=class="waves-effect waves-teal btn-flat">Trips</a></li>
				<li class="trucks"><a href="{% url 'trucks' %}" class=class="waves-effect waves-teal btn-flat">Trucks</a></li>
				<li class="drivers active"><a href="{% url 'drivers' %}" class=class="waves-effect waves-teal btn-flat">Drivers</a></li>
				<li class="faq"><a href="{% url 'faq' %}" class=class="waves-effect waves-teal btn-flat">FAQ</a></li>
			</ul>
		</div>
		<!-- trucks -->
		<div class="col s10  dash-board-9" >
			<div class="row top-head">
				<div class="input-field col s6">
		          <input id="search" type="text" class="validate" placeholder="Search orders ..." ng-model="query">
		          <label for="search"></label>
		        </div>
		        <div class="col s6 sort">
		        	<span>Filter By :</span>
							<span><a class="waves-effect waves-teal btn" ng-click="myFilter = {order_status: }" >All</a></span>
		        	<span><a class="waves-effect waves-teal btn" ng-click="myFilter = {trip.status: ''}" >Completed</a></span>
		        	<span><a class="waves-effect waves-teal btn" ng-click="myFilter = {trip.status: 'confirmed'}">Confirmed</a></span>
		        	<span><a class="waves-effect waves-teal btn" ng-click="myFilter = {trip.status: 'intransit'}">In transit</a></span>
		        </div>
		        <!-- check this  -->
			</div>
			<div class="row">
				<ul>	
					<li ng-repeat="driver in drivers">			
					<!-- single truck -->
			        <div class="col s6 card-1">
			          <div class="card">
			            <div class="card-content white-text">
			              <span class="card-title">{$ driver.name $}</span>
			              <div class="row">
			              	<div class="col s12 m12 l12">
			              		<ul>
					              	<li>Trip ID : {$ driver.trip_id $}</li>
					              	<li>Driver ID : {$ driver.driver_id $}</li>
					              	<li>Driver Password : {$ driver.password $}</li>
					            </ul>
			              	</div>
			              </div>
			            </div>
			            <div class="card-action">
			              <a href="{% url 'add_driver' %}" class="waves-effect waves-light btn modal-trigger" ng-click="update($index)"><i class="material-icons left">replay</i>Update</a>
			            </div>
			          </div>
			        </div>
		        <!-- single order end -->
					</li>
				</ul>
		    </div>
		</div>
	</div>
	<div class="addDriver">
		<a class="btn-floating btn-large waves-effect waves-light red" href="{% url 'add_driver' %}"><i class="material-icons">add</i></a>
		<p class="addDriver_label">Add Driver ?</p>
	</div>

<!-- dashboard ends -->
{% include 'javascript.html' %}
