{% load staticfiles %}
{% include 'head_css.html' %}
<style>

.faq-content{
	background-color: #FFF;
}
.question{
	font-size: 1.2em;
	color: #393939;
	background-color: #D7D7D7;
	padding: 5px;
	margin: 0;
}
.ans{
	background-color: #F0F0F0;
	padding: 5px;
	margin: 0;
}
.row .col.s12{
	margin-top: 0;
}
</style>
{% include 'navbar.html' %}
<div class="faq-content">
	<div class="container">
		<h1 style="text-align: center;color:#4F4F4F">Frequently Asked Questions</h1>
		<!-- question-answer -->
		<div class="row question">
			<div class="col s12">
				<span>Q1.</span> <span>What is Arbuda Transport Agency?</span>
			</div>
		</div>

		<div class="row ans">
			<div class="col s12">
				<p>Arbuda transport Agency is a logistics company and provides services for the transportation of good via trucks.</p>
			</div>
		</div>
		<!-- end -->
		<!-- question-answer -->
		<div class="row question">
			<div class="col s12">
				<span>Q2.</span> <span>What services do we provide?</span>
			</div>
		</div>

		<div class="row ans">
			<div class="col s12">
				<p>We transport various types of goods within a circle of radius 500km.</p>
			</div>
		</div>
		<!-- end -->
		<!-- question-answer -->
		<div class="row question">
			<div class="col s12">
				<span>Q3.</span> <span>What all goods we transport?</span>
			</div>
		</div>

		<div class="row ans">
			<div class="col s12">
				<ul>
					<li>Tiles</li>
					<li>Grains</li>
					<li>Cotton</li>
					<li>Drinks</li>
					<p>You can also request any other goods to transport to admin.</p>
				</ul>
			</div>
		</div>
		<!-- end -->
		<div class="row question">
			<div class="col s12">
				<span>Q4.</span> <span>What maximum weight of goods can be transported in one order?</span>
			</div>
		</div>

		<div class="row ans">
			<div class="col s12">
				140 tonnes.
			</div>
		</div>
		<!-- end -->
		<div class="row question">
			<div class="col s12">
				<span>Q5.</span> <span>When will my order be dispatched after requesting it?</span>
			</div>
		</div>

		<div class="row ans">
			<div class="col s12">
				 Once physical verification is done, the order will be dispatched the same or next working day.
			</div>
		</div>
		<!-- end -->
		<!-- end -->
		<div class="row question">
			<div class="col s12">
				<span>Q6.</span> <span>How do i use the services of Arbuda Transport Agency?</span>
			</div>
		</div>

		<div class="row ans">
			<div class="col s12">
				 Services of Arbuda Transport Agency can be used by placing your order on the Arbuda Transport Agency app available on Google Play Store. You can also download the app by going to Arbuda Transport Agency’s website and clicking on the download link.
			</div>
		</div>
		<!-- end -->
		<!-- end -->
		<div class="row question">
			<div class="col s12">
				<span>Q7.</span> <span> How is the safety of the goods assured by the Arbuda Transport Agency?</span>
			</div>
		</div>

		<div class="row ans">
			<div class="col s12">
				 To assure our users that their goods are safe and are taken care of we provide our users the facility to track the exact location of the truck carrying their goods. Also there will always be a guard travelling with the truck driver in every journey.
			</div>
		</div>
		<!-- end -->
		<!-- end -->
		<div class="row question">
			<div class="col s12">
				<span>Q8.</span> <span> What if the goods being transported get damaged during the journey?</span>
			</div>
		</div>

		<div class="row ans">
			<div class="col s12">
				 We are very cautious about the goods but still if the goods are damaged during transportation, appropriate refund will be provided to the user.
			</div>
		</div>
		<!-- end -->
		<!-- end -->
		<div class="row question">
			<div class="col s12">
				<span>Q9.</span> <span> How is the price decided for a particular trip?</span>
			</div>
		</div>

		<div class="row ans">
			<div class="col s12">
				 The price will depend on,
				 <ul>
				 	<li>The weight of the goods being transported,</li>
				 	<li>Rental charges for the truck required for the trip,</li>
				 	<li>Distance to be covered in the trip.</li>
				 </ul>
			</div>
		</div>
		<!-- end -->
		<!-- end -->
		<div class="row question">
			<div class="col s12">
				<span>Q10.</span> <span>When is the payment made ?</span>
			</div>
		</div>

		<div class="row ans">
			<div class="col s12">
				  The payment is made in two parts. A portion of it is to be paid before the start of the trip and the remain after the goods are delivered.
			</div>
		</div>
		<!-- end -->
		<!-- end -->
		<div class="row question">
			<div class="col s12">
				<span>Q11.</span> <span>How is the payment made?</span>
			</div>
		</div>

		<div class="row ans">
			<div class="col s12">
				  The payment is done either through cash or Cheque. If the amount to be paid is under Rs.50,000/- it is done in cash otherwise Cheques are used as the mode of payment.
			</div>
		</div>
		<!-- end -->
		<!-- end -->
		<div class="row question">
			<div class="col s12">
				<span>Q12.</span> <span>Can order be placed on the website as well?</span>
			</div>
		</div>

		<div class="row ans">
			<div class="col s12">
				   No, to place a order it is necessary to use the app.
			</div>
		</div>
		<!-- end -->
		<!-- end -->
		<div class="row question">
			<div class="col s12">
				<span>Q13.</span> <span>Can a confirmed order be cancelled?</span>
			</div>
		</div>

		<div class="row ans">
			<div class="col s12">
				   Yes, it can be cancelled if the cancel request is made before the goods are dispatched from the warehouse.
			</div>
		</div>
		<!-- end -->
	</div>
</div>
{% include 'footer.html' %}
{% include 'javascript.html' %}