
.marvel-device, .marvel-device div, *:before, *:after {
    -webkit-transition: all 500ms cubic-bezier(0.175,  0.885,  0.32,  1);
    -webkit-transition: all 500ms cubic-bezier(0.175,  0.885,  0.32,  1.275);
    -moz-transition: all 500ms cubic-bezier(0.175,  0.885,  0.32,  1.275);
    -o-transition: all 500ms cubic-bezier(0.175,  0.885,  0.32,  1.275);
    transition: all 500ms cubic-bezier(0.175,  0.885,  0.32,  1.275);
}
a {
    cursor: pointer;
    color: #36a6ff;
    -webkit-transition: color 300ms ease-in-out;
    -moz-transition: color 300ms ease-in-out;
    -ms-transition: color 300ms ease-in-out;
    -o-transition: color 300ms ease-in-out;
    transition: color 300ms ease-in-out;
}

section {
    /*background: #1e1e1e;*/
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 100%;
    display: table;
    position: relative;
}

section .wrap {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.marvel-device {
    vertical-align: top;
}
.marvel-device .screen {
    text-align: left;
    text-indent: -9999px;
}
.side {
    width: 360px;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin-left: 30px;
}

.marvel-device .screen:before {
    content: '';
    display: block;
    height: 34px;
    display: inline-block;
    text-align: left;
    width: 96px;
    position: absolute;
    top: 50%;
    margin-top: -17px;
    left: 50%;
    margin-left: -48px;
    background-image: url(https://marvelapp.com/static/site_assets/images/logo.png);
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: 96px 68px;
}
