/*body {
  height: 100%;
}
nav{
	background-color: #70B4FF;
}
.navbar-fixed{
	height: 65px;
	background-color: #ACC3FF
}*/
/*.navbar-static-top {
  margin-bottom: 20px;
}
.navbar-default .navbar-brand {
  color: #FFF;
}

.navbar-default .navbar-brand:hover {
  color: #FFFFFF;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #FFFFFF;
}

.navbar-default .navbar-toggle {
 border-color: transparent !important;
}

.navbar-toggle:hover {
	background-color: #FF4A4A !important;
}

.navbar-toggle {
	background-color: #EB332C !important;
}
.navbar-top{
	background-color: #FF5D5D
}*/